/*========== Colors / Kolory ==========*/

$firstcolor: #5B605F; //panel boczny, nawigacja
$header-text-color: #4a4a49; //nagłówek, , kolor tekstu w kolumnach
$buttons-highlights-color: #FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$background-screens-color: #FFFFFA; //kolor tła ekranów
$messages-color-info: #3498DB; //kolor wiadomości typu info,
$messages-color-warning: #FFB03B; //kolor wiadomości typu warning
$messages-color-success: #468966; //kolor wiadomości typu success
$trash-icon-color: #BD4932; //kolor ikony kosza
$tables-text-function-color: #A1A194; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

/*========== Fonts / Fonty ==========*/
$font-primary: 'Open Sans', sans-sherif; // Open sans dla 'tekst'
$font-open-sans: 'Open Sans', sans-sherif; // Open sans dla 'tekst'
$font-logo: 'Charmonman', cursive;
